# =========================
# Node.js
# =========================

# Dependencias instaladas con npm o yarn
node_modules/

# Logs y errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de bloqueo (pueden excluirse si trabajas en equipos y no usas lockfiles)
package-lock.json
yarn.lock
pnpm-lock.yaml


# =========================
# Build
# =========================

# Archivos de producción generados al compilar la app
build/
dist/

# =========================
# Archivos temporales del sistema
# =========================

.DS_Store        # macOS
Thumbs.db        # Windows

# =========================
# Archivos de cache y herramientas
# =========================

.cache/                    # Algunos bundlers y herramientas usan esta carpeta
.vite/                     # Si estás usando Vite
.eslintcache               # Cache de ESLint
*.log                      # Cualquier archivo de log

# =========================
# Editor y herramientas de desarrollo
# =========================

# VSCode
.vscode/

# WebStorm / JetBrains
.idea/

# =========================
# Tests y coverage
# =========================

coverage/                  # Carpeta generada por herramientas como Jest
*.lcov

# =========================
# Archivos ambientales
# =========================

.env
.env.local
.env.*.local